{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{%block title%}
Курси
{% endblock %}

{%block content%}

<style>
    .price {
        font-size: 20px;
    }
    {% comment %} .container {
        background-image: url('/static/courses/files/thumbnail/123.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        /* Додайте інші стилі, які вам потрібні для блоку контенту */
        /* Наприклад, розмір, відступи, кольори тексту і т. д. */
    } {% endcomment %}
</style>

<div class="container mt-3 mb-3">
    {% comment %} <div class="card mb-3 mx-auto p-2" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Доступні курси</h2>
        </div>
      </div> {% endcomment %}
      
    <div class="row gy-4 mx-auto">
        {% for course in courses %}
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{course.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text m-0 p-0">
                        Знижка {{course.discount}}%
                        <br>
                        <span class="price">
                            <del>{{course.price|uah}}</del>
                            &nbsp;

                            <span>{% cal_sellprice course.price course.discount as value %} {{value|uah}}</span>
                        </span>

                    </p>
                </div>

                <div class="card-footer p-0">
                    {% is_enrolled request course as enrolled %}


                    <div class="row g-0 text-center">
                        {% if enrolled %}
                        <div class="col border-end">
                            <div class="d-grid gap-2">
                            <a href="/course/{{course.slug}}" class="btn btn-light btn-block">Розпочати курс</a>
                        </div>
                        </div>
                        {% else %}
                        <div class="col border-end">
                            <div class="d-grid gap-2">
                            <a href="/check-out/{{course.slug}}" class="btn btn-primary btn-light">Зареєструватись</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid gap-2">
                            <a href="/course/{{course.slug}}" class="btn btn-light  btn-block">Переглянути</a>
                        </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}